/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

nav {
  text-align: center;
  background-color: black;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #fff;
}

nav .left {
  display: flex;
  flex-direction: column; /* Adjusted for smaller screens */
  align-items: center; /* Centered vertically for smaller screens */
  gap: 10px;
}

nav .right {
  padding-right: 50px;
}

.right a {
  background-color: orangered;
  padding: 15px 30px;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
}

nav img {
  width: 160px;
  height: 160px;
  border-radius: 6px;
  margin-top: 10px;
}

main {
  margin: 70px auto;
  padding: 10px;
  border: 4px solid #ccc;
  width: 700px;
  border-radius: 6px;
}

h2 {
  font-size: 18px;
  color: orangered;
}

p {
  font-size: 16px;
  color: #efefefb2;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    padding-bottom: 20px; /* Adjusted for smaller screens */
  }

  nav .left {
    text-align: center; /* Centered horizontally for smaller screens */
  }

  nav img {
    width: 100px; /* Adjusted for smaller screens */
    height: 100px; /* Adjusted for smaller screens */
    margin-top: 0; /* Adjusted for smaller screens */
  }

  nav h1 {
    font-size: 18px;
    text-align: center; /* Centered horizontally for smaller screens */
  }

  nav .right {
    padding-right: 0;
    padding-left: 0;
    margin-top: 10px; /* Adjusted for smaller screens */
  }

  .right a {
    font-size: 14px;
    width: 100%;
    text-align: center; /* Centered horizontally for smaller screens */
  }

  main {
    width: 90%;
    margin: 20px auto; /* Adjusted for smaller screens */
  }
}
